[Unit]
Description=Create shared memory for looking glass

[Service]
Type=oneshot
ExecStart=/home/neg/bin/qemu/looking-glass-init.sh

[Install]
WantedBy=multi-user.target
